body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
h1 {
  background-color: #104173;
  color: #fff;
  text-align: center;
}

.details-section {
  display: flex;
  justify-content: space-between;
}

.details-section p {
  margin-block: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #7b7e85;
}

.recipient-details,
.sender-details {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.recipient-details,
.sender-details span {
  margin-block: 0.2em;
}

.logo-section {
  display: flex;
  flex-direction: column;
}

.dubkii-logo {
  width: 144px;
  margin-inline: auto;
}

.invoice-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Arial, sans-serif;
  width: 100%;
  margin-top: 2rem;
}

.grid-header {
  font-weight: bold;
  background-color: #104173;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #104173;
  color: #fff;
}

.grid-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.grid-footer {
  font-weight: bold;
  padding: 10px;
  grid-column: 2;
}

.grid-footer:last-child {
  background-color: #5c9aff;
  color: #000;
}

.order-highlight {
  font-size: 20px;
  font-weight: 600;
}
